* {
  font-family: "Montserrat", sans-serif;
}

.nav-div {
  height: 50px;
}

.logo-div {
  display: flex;
  align-items: center;
}

.row-div {
  background-color: #ffb9a6;
  min-height: 100vh;
}

.choose-file-btn {
  color: #ffb9a6;
}
